<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>FlySmart-Contact Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='ContactStyle.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <section class="contact">
            <div class="content">
                <h2>CONTACT US</h2>
                <p>We would love to respond to your queries and help you succeed
                    Feel free to get in touch with us</p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><i class="fa-sharp fa-solid fa-location-dot"></i></div>
                        <div class="text">
                        <h3>Address</h3>
                        <p2>8388, Madhuban Apt.,<br>Ganesh Temple Road<br>Andheri West-40021</p2>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa-sharp fa-solid fa-phone"></i></div>
                        <div class="text">
                        <h3>Phone</h3>
                        <p2>3801-9328-39</p2>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                        <div class="text">
                        <h3>Email</h3>
                        <p2>FlySmart@gmail.com</p2>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Messsage</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Enter Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type Your Message..</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>