<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='WeatherStyle.css') }}">
  </head>
  <body>
    <div class="search-box">
      <input type="text" class="search-bar" placeholder="Enter city name..." />
      <button><img src="{{ url_for('static', filename='images/search.png') }}"></button>
    </div>

    <div class="current-weather">
      <h2>Current Weather</h2>
      <div class="weather-info">
        <div class="weather-icon"></div>
        <div class="weather-data">
          <p class="temperature"></p>
          <p class="humidity"></p>
          <p class="wind-speed"></p>
        </div>
      </div>
    </div>

    <div class="weekly-forecast">
      <h2>5 Days Weather Forecast</h2>
      <div class="cards"></div>
    </div>

    <script src="/static/weatherPage.js"></script>
  </body>
</html>
